<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blacksheep_1.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{329,94},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_1.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{213,117},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_1.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{253,117},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_1.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{291,113},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_2.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{315,1},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_2.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{275,82},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_2.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{319,63},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_2.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{319,32},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_3.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{275,48},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_3.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{231,83},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_3.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,63}</string>
                <key>textureRect</key>
                <string>{{231,48},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blacksheep_3.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,63}</string>
                <key>textureRect</key>
                <string>{{169,103},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_1.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{1,109},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_1.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{199,1},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_1.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{65,103},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_1.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{117,103},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_2.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{257,1},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_2.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{65,55},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_2.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{127,55},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_2.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{179,53},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_3.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{135,1},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_3.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_3.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{71,1},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitesheep_3.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1,55},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SheepNEnemy.png</string>
            <key>size</key>
            <string>{366,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a885fabb2d27b55c585c19d47dc6a11:923877904ed8bfbac08375e9af5eab6e:2ef56b4c5569e6ab1d281b86de140731$</string>
            <key>textureFileName</key>
            <string>SheepNEnemy.png</string>
        </dict>
    </dict>
</plist>
